.thumbnail {
  display: flex;
  height: 100px;
  width: 70vw;
  left: 0;
  right: 0;
  margin-inline: auto;
  position: fixed;
  overflow-y: auto;
  overflow-wrap: auto;
}

.big {
  display: flex;
  left: 500;
  position: static;
  max-width: 100vw;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.images {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid red;
}

body {
  background-image: url("../src/assets/frogfeet.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#leftButton {
  position: absolute;
  display: grid;
  top: 5%;
  left: 5%;
  border: 2px solid red;
  background-color: yellow;
}

#rightButton {
  position: absolute;
  display: grid;
  top: 5%;
  right: 5%;
  border: 2px solid red;
  background-color: yellow;
}
